<div class="LM_stream-container">
    <div class="LM_stream-wrap">
        <video autoplay playsinline class="LM_video"></video>
    </div>

    <div class="LM_photo-click"></div>

    <canvas class="LM_photo" width="0" height="0"></canvas>

    <ul class="LM_buttons">
        <li class="LM_button LM_button__back">
            <img src="https://i.loopme.me/html/snapchat_face_demo/back_icon.png" alt="" class="LM_icon LM_back">
        </li>

        <li class="LM_button LM_button__share">
            <img src="https://i.loopme.me/html/snapchat_face_demo/share.jpg" alt="" class="LM_icon LM_share">
        </li>
    </ul>

    <textarea class="LM_image-url"></textarea>
</div>

<img src="https://i.loopme.me/html/snapchat_face_demo/CTA_share_on_snap.jpg" alt="" class="LM_cta LM_cta-share">
<img src="https://i.loopme.me/html/Samsung_face_demo/share_facebook.jpg" alt="" class="LM_cta LM_cta-buy">
<img src="https://i.loopme.me/html/Samsung_face_demo/access_camera.jpg" alt="" class="LM_cta LM_camera">
