<div class="LM_gallery">
    <ul class="LM_gallery-list">
        <li class="LM_gallery-item"><img src="https://i.loopme.me/html/snapchat_face_demo/guy_1.png"></li>
        <li class="LM_gallery-item"><img src="https://i.loopme.me/html/snapchat_face_demo/guy_2.png"></li>
        <li class="LM_gallery-item"><img src="https://i.loopme.me/html/snapchat_face_demo/guy_3.png"></li>
        <li class="LM_gallery-item"><img src="https://i.loopme.me/html/snapchat_face_demo/guy_4.png"></li>
    </ul>

    <div class="LM_gallery-control LM_gallery-control__left"></div>
    <div class="LM_gallery-control LM_gallery-control__right"></div>

    <ul class="LM_gallery-dots-list">
        <li class="LM_gallery-dots-item"></li>
        <li class="LM_gallery-dots-item"></li>
        <li class="LM_gallery-dots-item"></li>
        <li class="LM_gallery-dots-item"></li>
    </ul>
</div>
