<div class="LM_map">
    <div class="LM_map-preloader">
        <img src="https://i.loopme.me/html/" alt="">
        <div class="LM_map-preloader-spinner">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="LM_map-container">
        <img class="LM_map-pin" src="https://i.loopme.me/html/" alt="">
        <div class="LM_hide_map_btn"></div>
        <div class="LM_map-wrapper">
            <div id="LM_map-holder"></div>
        </div>
    </div>
    <div class="LM_stores-list-wrap">
        <ul class="LM_stores-list"></ul>
    </div>
</div>
