.LM_parallax {
    width: 100%;
    height: 100%;

    background-image: url("https://i.loopme.me/html/TNF_Apex/UK/guy_bg.jpg");
    background-size: 100% 100%;
}

.LM_parallax_image {
    position: absolute;

    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;

    /* transition: transform 0.2s linear; */
}